<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>181211502566-07o97ht9l3mast3c1ojtclj9iu20530b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.181211502566-07o97ht9l3mast3c1ojtclj9iu20530b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>181211502566-87jeg9igbh8d5palo78mijidn18fjaas.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbWFN1o5iRqLkBZcw9OAMenVKhTyABfDc</string>
	<key>GCM_SENDER_ID</key>
	<string>181211502566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.authenticationapp.authenticationApp</string>
	<key>PROJECT_ID</key>
	<string>authentication-app-3cf62</string>
	<key>STORAGE_BUCKET</key>
	<string>authentication-app-3cf62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181211502566:ios:0f5d699d3b10562a28e827</string>
</dict>
</plist>